<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <div>
      <h2 *ngIf="rol !=='Ejecutivo'">Ver Aplicacion</h2>
      <h2 *ngIf="rol =='Ejecutivo'">Ver Aplicacion de: {{NombreCliente}}</h2>
    </div>
  </div>
</nav>


<div class="container">
  <div class="row info-general-fnp">
    <div class="col">
      <h3>N° Poliza: {{aplicacion.numero_poliza}}</h3>
      <h3>N°: {{aplicacion.numero_aplicacion}}</h3>
    </div>
    <div class="col colum-fecha-create-app">
      <h3>Fecha: {{aplicacion.fecha | date:'dd/MM/yyy'}}</h3>
    </div>
  </div>
  <div class="row inputs-fields">
    <div class="col">
      <div class="input-row">
        <label for="select-asegurado" class="form-label etiquetas">Asegurado: </label>
        <h6 >{{aplicacion.asegurado}}</h6>
      </div>

      <div class="input-row">
        <label for="select-pagador" class="form-label etiquetas">Pagador: </label>
        <h6>{{aplicacion.pagador}}</h6>
      </div>

      <div class="input-row">
        <label for="select-tipo-transporte" class="form-label etiquetas">Tipo transporte: </label>
        <h6>{{aplicacion.tipo_trasnporte}}</h6>
      </div>

      <div class="input-row">
        <label for="select-consignada-a" class="form-label etiquetas">Consignada a: </label>
        <h6 >{{aplicacion.consignada_a}}</h6>
      </div>

      <div class="input-row">
        <label for="select-incoterms" class="form-label etiquetas">Incoterms: </label>
        <h6>{{aplicacion.incoterms}}</h6>
      </div>

      <div class="input-row">
        <label for="select-items" class="form-label etiquetas">Items: </label>
        <h6>{{aplicacion.items}}</h6>
      </div>

      <div class="input-row">
        <label for="input-number-bultos" class="form-label etiquetas">Bultos: </label>
        <h6 id="input-number-bultos">{{aplicacion.bultos}}</h6>
      </div>

    </div>
    <div class="col">

      <div class="input-row">
        <label for="input-text-desde" class="form-label etiquetas">Desde: </label>
        <h6>{{aplicacion.desde}}</h6>
      </div>

      <div class="input-row">
        <label for="input-text-hasta" class="form-label etiquetas">Hasta: </label>
        <h6 >{{aplicacion.hasta}}</h6>
      </div>

      <div class="input-row">
        <label for="input-text-pertenece-a" class="form-label etiquetas">Pertenece a: </label>
        <h6>{{aplicacion.pertenece_a}}</h6>
      </div>

      <div class="input-row">
        <label for="input-text-embarcado-por" class="form-label etiquetas"> Embarcado por: </label>
        <h6>{{aplicacion.embarcado_por}}</h6>
      </div>

      <div class="input-row">
        <label for="input-text-nota-de-pedido" class="form-label etiquetas">Nota de pedido: </label>
        <h6>{{aplicacion.nota_de_pedido}}</h6>
      </div>

      <div class="input-row">
        <label for="input-text-marca" class="form-label etiquetas">Marca: </label>
        <h6>{{aplicacion.marca}}</h6>
      </div>

      <div class="input-row">
        <label for="input-number-monto-total" class="form-label etiquetas">Monto Total: </label>
        <h6>{{aplicacion.monto_total}}</h6>
      </div>

    </div>
    <div class="col">

      <div class="input-row">
        <label for="input-date-f-embarque" class="form-label etiquetas">Fecha de embarque: </label>
        <h6>{{aplicacion.fecha_embarque | date:'dd/MM/yyy'}}</h6>
      </div>

      <div class="input-row">
        <label for="input-date-f-llegada" class="form-label etiquetas">Fecha de llegada: </label>
        <h6>{{aplicacion.fecha_llegada | date:'dd/MM/yyy'}}</h6>
      </div>

      <div class="input-row">
        <label for="input-text-afianzador" class="form-label etiquetas">Afianzador: </label>
        <h6>{{aplicacion.afianzador}}</h6>
      </div>

      <div class="input-row">
        <label for="input-text-orden-compra" class="form-label etiquetas">Orden de compra: </label>
        <h6 >{{aplicacion.orden_compra}}</h6>
      </div>

      <div class="input-row">
        <label for="input-number-numero" class="form-label etiquetas">N°: </label>
        <h6>{{aplicacion.numero_aplicacion}}</h6>
      </div>

      <div class="input-row">
        <label for="input-number-peso-bruto" class="form-label etiquetas">Peso bruto: </label>
        <h6>{{aplicacion.peso_bruto}}</h6>
      </div>

      <div class="input-row">
        <label for="input-number-gastos-justificados" class="form-label etiquetas">% de gastos justificados: </label>
        <h6>{{aplicacion.porcentaje_gasto_justificado}}</h6>
      </div>

    </div>
    <div class="col">

      <div class="input-row">
        <label for="suma-asegurada" class="form-label etiquetas">Suma Asegurada: </label>
        <h6>{{aplicacion.suma_asegurada}}</h6>
      </div>

      <div class="input-row">
        <label for="tasa" class="form-label etiquetas">tasa: </label>
        <h6>{{aplicacion.tasa}}</h6>
      </div>

      <div class="input-row">
        <label for="valor-prima" class="form-label etiquetas">Valor prima: </label>
        <h6>{{aplicacion.valor_prima}}</h6>
      </div>

      <div class="input-row">
        <label for="input-text-cobertura" class="form-label etiquetas">Cobertura: </label>
        <h6>{{aplicacion.cobertura}}</h6>
      </div>

      <div class="input-row">
        <label for="deducible" class="form-label etiquetas">Deducible: </label>
        <h6>{{aplicacion.deducible}}</h6>
      </div>

      <div class="input-row">
        <label for="input-text-objeto-seguro" class="form-label etiquetas">Objeto del seguro: </label>
        <h6>{{aplicacion.objeto_de_seguro}}</h6>
      </div>

    </div>
  </div>
  <div class="row inputs-fields">
    <div class="col">
      <div class="input-row">
        <label for="input-text-area-descripcion" class="form-label etiquetas">Descripción del contenido: </label>
        <p>{{aplicacion.descripcion_contenido}}</p>
      </div>
    </div>
    <div class="col">
      <div class="input-row">
        <label for="input-text-area-observaciones" class="form-label etiquetas">Observaciones: </label>
        <p>{{aplicacion.observaciones}}</p>
      </div>
    </div>
  </div>
  <div class="row inputs-fields">
    <button type="submit" class="btn btn-success">Imprimir</button>
  </div>
</div>
